<input type="text" id="playlistN" name="playlistN" [(ngModel)]="playlistService.model.playlistN" placeholder="Playlist Title" value="" required>
<select type="text" id="status" name="status" [(ngModel)]="playlistService.model.status"><option value="public">public</option><option value="private" required>private</option></select>
<input type="text" id="description" name="description" [(ngModel)]="playlistService.model.description" placeholder="Description" value="">
<div>
    <button class="button" (click)="onSubmit()">Create New Song List</button>
</div>

<!-- Succeed message -->
<div class="success" *ngIf="serverSuccessMessages">
    {{serverSuccessMessages}}
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
</div>


<style>
    .button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
    }
    
    select {
        margin: 20px;
        background: rgba(0, 0, 0, 0);
        width: 1080px;
        height: 60px;
        font-size: 18px;
        color: white;
        text-align: center;
        border: 1px #1a1a1a solid;
        border-radius: 5px;
        display: inline-block;
    }
</style>