<div>
    <img src="assets/img/single_user.png" id="icon" alt="User Icon" />
</div>
<form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
    <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
    <div *ngIf="signInForm.submitted && email.errors?.pattern">
        <label class="validation-message">Invalid email address.</label>
    </div>
    <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4" [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
    <div *ngIf="signInForm.submitted && password.errors?.minlength">
        <label class="validation-message">Minimum 4 characters.</label>
    </div>
    <input type="submit" value="Login In">
</form>




<div class="container-fluid">
    <div class="row" style="text-align: -webkit-center">
        <div class="col-md-12">
            <button class="btn btn-primary" style="background-color: #c63d2d; border-color:#c63d2d" (click)="googlelogin()"><i class="fa fa-google"></i>GOOGLE</button>

        </div>
    </div>
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}<br>
    <div *ngIf="serverErrorMessages=='Email not verified.'">Click to resent email.</div>
    <form #ReSendForm="ngForm" *ngIf="serverErrorMessages=='Email not verified.'" (ngSubmit)="ReSend(signInForm)">
        <input type="submit" value="resend">

    </form>
</div>