<form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)" class="search-result">
    <input type="text" placeholder="Search..." name="id" [(ngModel)]="id"> <input type="submit">
    <div id="li"></div>
</form>

<div class="result" *ngIf="playlistList">
    <ul *ngFor="let index of this.playlistList; let i = index;">
        <li> Name of Playlist: {{playlistList[i].playlistN}}
            <button (click)="showDetails(i)">>> {{buttonInfo[i]}}</button>
            <div *ngIf="details[i]">
                <p>Description: {{playlistList[i].description}}</p>
                <p>Creater: {{playlistList[i].userN}}</p>
                <p>List of Song: {{playlistList[i].songList}}</p>

            </div>

            <button (click)="addPlaylist(playlistList[i].userN, playlistList[i].playlistN)">Add Playlist</button>
        </li>
    </ul>
</div>