<div class="site-header">
    <div class="container">


        <div class="main-navigation">
            <button class="toggle-menu"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item home current-menu-item"><a href="index.html"><i class="icon-home"></i></a></li>

            </ul>
            <!-- .menu -->
            <div class="search-form">
                <label><img src="images/icon-search.png"></label>
                <input type="text" placeholder="Search...">
            </div>
            <!-- .search-form -->

            <div class="mobile-navigation"></div>
            <!-- .mobile-navigation -->
        </div>
        <!-- .main-navigation -->
    </div>
    <!-- .container -->
</div>
<!-- .site-header -->

<div class="home-slider">
    <ul class="slides">
        <li data-bg-image="dummy/slide-1.jpg">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">Kill Zone 3</h2>
                    <small class="slide-subtitle">$190.00</small>

                    <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
                        quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>

                    <a href="cart.html" class="button">Add to cart</a>
                </div>

                <img src="dummy/game-cover-1.jpg" class="slide-image">
            </div>
        </li>
        <li data-bg-image="dummy/slide-2.jpg">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">Kill Zone 3</h2>
                    <small class="slide-subtitle">$190.00</small>

                    <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
                        quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>

                    <a href="cart.html" class="button">Add to cart</a>
                </div>

                <img src="dummy/game-cover-2.jpg" class="slide-image">
            </div>
        </li>
        <li data-bg-image="dummy/slide-3.jpg">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">Kill Zone 3</h2>
                    <small class="slide-subtitle">$190.00</small>

                    <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
                        quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>

                    <a href="cart.html" class="button">Add to cart</a>
                </div>

                <img src="dummy/game-cover-3.jpg" class="slide-image">
            </div>
        </li>
    </ul>
    <!-- .slides -->
</div>