<div class="site-header">
    <div class="container">
        <div class="main-navigation">
            <div class="search-form">
                <input type="text" placeholder="Search...">
                <button class="toggle-menu"><i class="fa fa-bars"></i></button>
            </div>
        </div>
        <!-- .main-navigation -->
    </div>
    <!-- .container -->
</div>
<!-- .site-header -->




<table *ngIf="topList" class="table-fill">
    <thead>
        <tr>
            <th colspan="2" class="text-center">Top Song</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>Popularity </td>

        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>{{topList[0]._id}}</td>
            <td>{{topList[0].count}}</td>

        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>{{topList[1]._id}}</td>
            <td>{{topList[1].count}}</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>{{topList[2]._id}}</td>
            <td>{{topList[2].count}}</td>
        </tr>
    </tbody>

</table>