<form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)" class="search-result">
    <input type="text" placeholder="Search..." name="id" [(ngModel)]="id"> <input type="submit">
    <div id="li"></div>
</form>

<div class="result" *ngIf="songList">

    <ul *ngFor="let index of this.songList; let i = index">
        <li> Name of Song: {{songList[i].title}}
            <button (click)="showDetails(i)">>>{{buttonInfo[i]}}</button>
            <div *ngIf="details[i]">
                <p>Artist: {{songList[i].artist}}</p>
                <p>Alblum: {{songList[i].alblum}}</p>
                <p>Year: {{songList[i].year}}</p>
                <p>Comment: {{songList[i].comment}}</p>
                <p>Reserve: {{songList[i].reserve}}</p>
                <p>Track: {{songList[i].track}}</p>
                <p>Genre: {{songList[i].genre}}</p>
                <p>Add Time: {{songList[i].addT}}</p>
            </div>
            <button (click)="checkreview(songList[i].title)">View Review</button>
            <ul *ngFor="let index of this.reviewList; let j = index">
                <p>Create Time: {{reviewList[j].reviewT}}</p>
                <p>Reviewer: {{reviewList[j].reviewerN}}</p>
                <p>Rating: {{reviewList[j].rating}}</p>
                <p>Review: {{reviewList[j].reviewC}}</p><br>

            </ul>


            <button *ngIf="login" (click)="writereview(songList[i].title)">Write Review</button>
            <button *ngIf="login" (click)="addList(songList[i].title)">Add to List</button>
        </li>
    </ul>
</div>


<div class="topresult" *ngIf="topList">
    <p>TOP TEN</p>
    <ul *ngFor="let index of this.topList; let i = index">
        <li> Name of Song: {{topList[i]._id}} Popularity: {{topList[i].count}}
            <!-- <button (click)="showDetails(i)">{{buttonInfo[i]}}</button> -->
        </li>
    </ul>
</div>