<table *ngIf="userDetails" class="table-fill">
    <thead>
        <tr>
            <th colspan="2" class="text-center">User Profile</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td>{{userDetails.fullName.split(' ')[0]}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{userDetails.fullName.split(' ')[1]}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{userDetails.email}}</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <input type="button" (click)="onLogout()" value="Logout" />
            </td>
        </tr>
    </tbody>
</table>

<div class="wrapper">
    <div id="formContent">

        <h2 class="underlineHover" routerLink="/newsong" routerLinkActive="active"> Create New Song </h2>
        <h2 class="underlineHover" routerLink="/newplaylist" routerLinkActive="active"> Create New Playlist </h2>
        <router-outlet></router-outlet>
    </div>
</div>



<div class="result" *ngIf="myPlaylist">
    <ul *ngFor="let index of this.myPlaylist; let i = index;">
        <li> Name of Playlist: {{myPlaylist[i].playlistN}}
            <p>Description: {{myPlaylist[i].description}}
                <p>Status: {{myPlaylist[i].status}}</p>
                <p>Create Time: {{myPlaylist[i].playlistT}}</p>

                <div>
                    <label>Description:   </label> <input type="text" [(ngModel)]="description" id="description" name="description" value="" placeholder="Please enter new description...">
                    <button (click)="Modify(i)">Modify Description</button>
                </div>
                <div>
                    <label>Status:   </label> <select [(ngModel)]="status" name="status" id="status"><option value="private">private</option><option value="public">public</option></select>
                    <button (click)="Changestatus(i)">Change Status</button>
                </div>


                Song name: {{myPlaylist[i].songList}}
                <button (click)="deletesongclick(i)">Delete Song</button>
                <div *ngIf="show">
                    <p *ngFor="let index of this.temp; let j=index;">
                        {{temp[j]}} <button (click)="deletesong(j)">Delete this Song</button>
                    </p>
                    <div *ngIf="showSuccessMessage">{{showSuccessMessage}}</div>
                </div>
        </li><br>

    </ul>
</div>

<style>
    select {
        background: rgba(0, 0, 0, 0);
        width: 200px;
        height: 30px;
        font-size: 18px;
        color: rgb(255, 255, 255);
        text-align: center;
        border: 1px #fffffff7 solid;
        border-radius: 5px;
    }
    
    input {
        background: rgba(0, 0, 0, 0);
        width: 600px;
        height: 60px;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.824);
        text-align: center;
        border: 1px #fffffff7 solid;
        border-radius: 5px;
        display: inline-block;
    }
</style>