<input type="text" id="header" name="header" [(ngModel)]="songService.model.header" placeholder="Header" value="" required>
<input type="text" id="title" name="title" [(ngModel)]="songService.model.title" placeholder="Title" value="" required>
<input type="text" id="artist" name="artist" [(ngModel)]="songService.model.artist" placeholder="Artist" value="" required>
<input type="text" id="alblum" name="alblum" [(ngModel)]="songService.model.alblum" placeholder="Alblum" value="">
<input type="text" id="year" name="year" [(ngModel)]="songService.model.year" placeholder="Year" value="">
<input type="text" id="comment" name="comment" [(ngModel)]="songService.model.comment" placeholder="Comment" value="">
<input type="text" id="reserve" name="reserve" [(ngModel)]="songService.model.reserve" placeholder="Reserve" value="">
<input type="text" id="track" name="track" [(ngModel)]="songService.model.track" placeholder="Track" value="">
<input type="text" id="genre" name="genre" [(ngModel)]="songService.model.genre" placeholder="Genre" value="">
<button type="button" (click)="onSubmit()">Create New Song</button>




<!-- Succeed message -->
<div class="success" *ngIf="serverSuccessMessages">
    {{serverSuccessMessages}}
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
</div>