<form #newsongForm="ngForm" (ngSubmit)="newsongForm.valid && onSubmit(newsongForm)">
    <input type="text" name="title" #title="ngModel" [(ngModel)]="songService.model.title" placeholder="Title" required>
    <input type="text" name="artist" #title="ngModel" [(ngModel)]="songService.model.artist" placeholder="Artist" required>
    <input type="text" name="alblum" #title="ngModel" [(ngModel)]="songService.model.alblum" placeholder="Alblum">
    <input type="text" name="year" #title="ngModel" [(ngModel)]="songService.model.year" placeholder="Year">
    <input type="text" name="comment" #title="ngModel" [(ngModel)]="songService.model.comment" placeholder="Comment">
    <input type="text" name="reserve" #title="ngModel" [(ngModel)]="songService.model.reserve" placeholder="Reserve">
    <input type="text" name="track" #title="ngModel" [(ngModel)]="songService.model.track" placeholder="Track">
    <input type="text" name="genre" #title="ngModel" [(ngModel)]="songService.model.genre" placeholder="Genre">

    <input type="submit" value="Create New Song">

</form>
<!-- Succeed message -->
<div class="success" *ngIf="serverSuccessMessages">
    {{serverSuccessMessages}}
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
</div>